input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.container {
    display: flex;
    align-items: center;
}

.ipv4_input {
    width: 3ch;
    text-align: center;
    margin: 1ch;
}
